{% extends 'base.html' %}

{% block content %}

<h2>Nearby SOS Requests</h2>

{% if sos_list %}

<table border="1" cellpadding="10" cellspacing="0" width="100%">
<thead>
<tr>
<th>ID</th>
<th>Description</th>
<th>Location</th>
<th>Status</th>
<th>Action</th>
<th>Update Ambulance</th>
</tr>
</thead>

<tbody>

{% for sos in sos_list %}

<tr>

<td>{{ sos.id }}</td>

<td>{{ sos.description }}</td>

<td>{{ sos.latitude }}, {{ sos.longitude }}</td>

<td>{{ sos.status }}</td>

<td>

{% if sos.status == "pending" %}

<a href="{% url 'accept_sos' sos.id %}" class="btn btn-primary">
Accept SOS
</a>

{% else %}

Accepted by {{ sos.assigned_hospital.name }}

{% endif %}

</td>

<td>

<form method="POST" action="{% url 'update_status' sos.id %}">
{% csrf_token %}

<select name="status">
<option value="ACCEPTED">Accepted</option>
<option value="DISPATCHED">Ambulance Dispatched</option>
<option value="ON_ROUTE">On Route</option>
<option value="COMPLETED">Completed</option>
</select>

<button type="submit">Update</button>

</form>
</td>

</tr>

{% endfor %}

</tbody>

</table>

{% else %}

<p>No nearby SOS requests.</p>

{% endif %}

{% endblock %}